<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass h-100" @onclick="ToggleNavMenu">
    <nav class="flex-column d-flex h-100">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tasks">
                <span class="oi oi-browser" aria-hidden="true"></span> Tasks
            </NavLink>
        </div>
        @if (AppState!.isAuth())
        {
            <div class="nav-item px-3 pe-auto mt-auto">
                <NavLink role="button" class="nav-link" @onclick="Logout">
                    <span class="oi oi-fullscreen-exit" aria-hidden="true"></span> Sign out
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    [CascadingParameter]
    private AppState? AppState { get; set; }
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void Logout() => AppState!.Logout();
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
